.mainBoxz {
    background-color: aqua;
    height: 27em;
    width: 35em;
    border-radius: 1em;
}

.spacerx {
    padding-bottom: 5em;
}

.mainGrid {
    font-family: 'Major Mono Display', monospace;
    display: flex;
    grid-template-columns: 2fr 8fr 2fr;
    justify-content: center;
}

.titlexx{
font-family: 'Major Mono Display', monospace;
text-align: center;
font-size: xx-large;
padding-bottom: 2.5em;
}

.topBox{
    background-color: navy;
    height: 2em;
    width: 100%;
}

.mainBoxz input {
    border-radius: 1em;
    background-color: whitesmoke;
    font-family: 'Major Mono Display', monospace;
    border: none;
    width: 20em;
    height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    color: navy;
    font-weight: bolder;
}
.gifBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputx {
    padding-top: 1.3em;
    font-family: 'Major Mono Display', monospace;
    color: navy;
    font-weight: bolder;
    padding-left: 1em;
}

.inputext {
    padding-left: .7em;
    padding-bottom: .5em;
}

.inputx input{
    padding-left: .9em;
}

.selectx  {
    padding-left: 1em;
    padding-top: 2.5em;
}

.selectx select {
    appearance: none;
    padding-left: 1em;
    font-family: 'Major Mono Display', monospace;
    color: navy;
    font-weight: bolder;
    border-radius: 1em;
    background-color: whitesmoke;
    padding-left: 1em;
    width: 20em;
    height: 2em
}
.lowbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lowright{
    padding-left: 2em;
    padding-top: 1.5em;
}

.lowright input {
    border-radius: 1em;
    background-color: whitesmoke;
    font-family: 'Major Mono Display', monospace;
    border: none;
    height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    color: navy;
    font-weight: bolder;
}

.zipx input {
    width:10em;
    padding-left: 1em;
}

.zipx {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: navy;
    font-weight: bolder;
    padding-right: 3em;
    padding-top: 5em;
}

.emailx input {
    width:19.7em;
    padding-left: 1em;
}
.emailx {
    padding-left: 1.2em;
    padding-top: 1em;
    color: navy;
    font-weight: bolder;
}
.shippedx {
    padding-top: 1em;
    padding-left: 2em;
}
.planex {
    position: absolute;
    padding-left: 1em;
    padding-top: 3.5em;
}
.buttonx1 {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}
.buttonx1 button {
    appearance: none;
    background-color: transparent;
    border-radius: 1em;
    height: 4em;
    width: 15em;
    background-color: navy;
    color: aqua;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
}