.addbox {
    background-color: white;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    height: 6em;
    display: flex;
    justify-content: center;
    padding-bottom: 30em;
    padding-top: 5em;
    
}
.addboxy {
    background-color: white;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 5em;
    
}
.addboxz {
    background-color: white;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 5em;
    
}
.addboxv {
    background-color: white;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 8em;
    
}
.addboxinner {
    background-color: aqua;
    height: 25em;
    width: 50em;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2em;
    justify-content: center;
    padding-bottom: 1em;
    border-radius: 5em;
}
.addxboxinner {
    background-color: aqua;
    height: 15em;
    width: 50em;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2em;
    justify-content: center;
    padding-bottom: 1em;
    border-radius: 5em;
}

.addboxinnerb {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}
.addboxinnerb button {
    appearance: none;
    background-color: transparent;
    border-radius: 1em;
    height: fit-content;
    width: 10em;
    background-color: red;
    color: black;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    justify-self: center;
}
.addboxinner button {
    appearance: none;
    background-color: transparent;
    border-radius: 1em;
    height: 2em;
    width: 10em;
    background-color: navy;
    color: aqua;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    justify-self: center;
}

.addxboxinner {
    background-color: aqua;
    height: 15em;
    width: 50em;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2em;
    justify-content: center;
    padding-bottom: 1em;
    border-radius: 5em;
}



.addboxinnerv button {
    appearance: none;
    background-color: transparent;
    border-radius: 1em;
    height: 2em;
    width: 10em;
    background-color: navy;
    color: aqua;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    justify-self: center;
}
.addboxinnervx button {
    appearance: none;
    background-color: transparent;
    border-radius: 1em;
    height: 2em;
    width: 10em;
    background-color: navy;
    color: aqua;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    justify-self: center;
}
.addboxinnervx {
    background-color: aqua;
    height: fit-content;
    width: 50em;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2em;
    justify-content: center;
    padding-bottom: 1em;
    align-items: center;
}
.addboxinnerv {
    background-color: aqua;
    height: fit-content;
    width: 50em;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2em;
    justify-content: center;
    padding-bottom: 1em;
    align-items: center;
    border-radius: 1em;
}

.addyboxinner {
    background-color: aqua;
    height: fit-content;
    width: 50em;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2em;
    justify-content: center;
    padding-bottom: 1em;
    align-items: center;
}

.addyboxinner button {
    appearance: none;
    background-color: transparent;
    border-radius: 1em;
    height: 2em;
    width: 10em;
    background-color: navy;
    color: aqua;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    justify-self: center;
}
.addxboxinner button {
    appearance: none;
    background-color: transparent;
    border-radius: 1em;
    height: 2em;
    width: 10em;
    background-color: navy;
    color: aqua;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    justify-self: center;
}

.addinput {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    text-align: center;


}
.addinputx {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 10em;
}

.addinputx input {
    border-radius: 1em;
    background-color: whitesmoke;
    font-family: 'Major Mono Display', monospace;
    border: none;
    height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    color: navy;
    font-weight: bolder;
    width: 15em;
    padding-left: 1em;
}
.addinput input {
    border-radius: 1em;
    background-color: whitesmoke;
    font-family: 'Major Mono Display', monospace;
    border: none;
    height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    color: navy;
    font-weight: bolder;
    width: 15em;
    padding-left: 1em;
}
.addboxinnervx input {
    border-radius: 1em;
    background-color: whitesmoke;
    font-family: 'Major Mono Display', monospace;
    border: none;
    height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    color: navy;
    font-weight: bolder;
    width: 15em;
    padding-left: 1em;
}
.addtitle {
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 1em;

}
.addbutton {
    padding-top: 1em;
    justify-self: center;
}
.adminmessage {
    align-self: center;
    align-content: center;
    text-align: center;
    width: fit-content;
    justify-content: center;
    display: block;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.adminmessagex {
    align-self: center;
    align-content: center;
    text-align: center;
    width: fit-content;
    justify-content: center;
    display: block;
    height: fit-content;
    display: block;
}
.viewnotfoundx {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top: 2em;
    background-color: aqua;
    width: 50em;
    padding-bottom: 2em;
}

.viewmsg{
    background-color: aqua;
    width: 50em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: black solid thin;
    height: fit-content;
    padding-bottom: .5em;
}

.viewbutton {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 2em;
    padding-top: 1em;
}

.viewbutton button {
    align-self: center;
    justify-content: center;
}

.viewmsgx {
    font-family: 'Major Mono Display', monospace;
    grid-template-columns: 1fr 1fr 1fr ; 
    display: grid;
    text-align: center;
    
}

.viewproductx {
    border: black solid thin;
    padding: .5em;
    width: 90%;
    margin: 1em
}
.viewcathead{
    display: flex;
    justify-content: space-evenly;
}

.viewcathead input {
    border-radius: 1em;
    background-color: whitesmoke;
    font-family: 'Major Mono Display', monospace;
    border: none;
    height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    color: navy;
    font-weight: bolder;
    width: 15em;
    padding-left: 1em;
}

.viewcatbox {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding-bottom: 1fr;
    padding-top: 1em;
    height: fit-content;
}
.viewspacer {
    padding-top: 1em;
    padding-bottom: 1em;
}
.catimage {
    height: 6em;
    width: 6em;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 20%;
    padding-top: 1em;
    
}
.addboxinnervu {
    background-color: aqua;
    height: fit-content;
    width: 50em;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2em;
    justify-content: center;
    padding-bottom: 1em;
    align-items: center;
    border-radius: 1em;
}


.addboxinnervu button {
    appearance: none;
    background-color: transparent;
    border-radius: 1em;
    height: 2em;
    width: 10em;
    background-color: navy;
    color: aqua;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: large;
    justify-self: center;
}

.addboxinnervu input {
    border-radius: 1em;
    background-color: whitesmoke;
    font-family: 'Major Mono Display', monospace;
    border: none;
    height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    color: navy;
    font-weight: bolder;
    width: 15em;
    padding-left: 1em;
}
.addboxinner input {
    border-radius: 1em;
    background-color: whitesmoke;
    font-family: 'Major Mono Display', monospace;
    border: none;
    height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    color: navy;
    font-weight: bolder;
    width: 15em;
    padding-left: 1em;
}

.updt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1em;
    align-items: center;
    text-align: center;
}
.loginx{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
.loginbox{
    align-content: center;
    text-align: center;
}
.loginmsg {
    height: fit-content;
    text-align: center;
}

.adminhead{
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: xx-large;
    justify-self: center;
    text-align: center;
    background-color: yellow;
    padding-top: 2em;
    margin-top: 2em;
    padding-bottom: 2em;
    color: purple;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5em;
    margin-right: 10%;
    margin-left: 10%;
}