.cartmain {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cartnum {
  cursor: pointer;
}

.productx{
    padding-top: .1em;
    padding-bottom: .15em;
    background-color: grey;
    width: 100%;
    font-family: 'Major Mono Display', monospace;
    border-width: 1em;
    border-color: black;
    
}
.productz{
    background-color: white;
    padding-top: 1em;
    padding-right: 3em;
    padding-left: 1em;
}
.producty{
    grid-template-columns: 3fr 6fr 1fr;
    display: grid;
    padding-top: 1em;
    background-color: white;
    height: 95%;
    width: 100%;  
    font-family: 'Major Mono Display', monospace;
    border-width: 1em;
    border-color: black;
}
.producty button {
    background-color: transparent;
    color: navy;
    border: none;
    font-weight: bolder;
}

.producty input {
    background-color: transparent;
    font-family: 'Major Mono Display', monospace;
    border: none;
    width: .7em;
}

.productname{
    font-size: 2em;
}
.pricex {
    text-align: center;
    justify-content: space-between;
}

.stockx {
    font-size: .7em;
    color: green;
}

.go2check{
    padding-top: 2em;
    background-color: black;
    height: fit-content;
    color: white;
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    justify-content: space-evenly;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.glow-on-hoverx {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    height: 3em;
    border: none;
    outline: none;
    color: #fff;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 5em;
  }
  
  .glow-on-hoverx:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hoverx:active {
    color: black
  }
  
  .glow-on-hoverx:active:after {
    background: transparent;
  }
  
  .glow-on-hoverx:hover:before {
    opacity: 1;
  }
  
  .glow-on-hoverx:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  .shipping{
      color: white;
      padding-top: 2em;
  }
  .deleteqty {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      padding-top: 1em;
  }

  .checkoutx button {
      background-color: transparent;
      color: white;
      font-family: 'Major Mono Display', monospace;
      border: 10px;
      border: white;
      height: 3.7em;
      width: 9em;
      cursor: pointer;
  }
  .cartimg {

  }

  .cartimg img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }