.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  
  .mainxy {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cardnumberx {
    padding-left: 1.8em;
    color: white;
  }

  .cardnumbery{
    display: grid;
    grid-template-columns: 2fr 6fr;
  }

  .expiryx {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
  }

  .cvcx {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
  }

  .bubblex {
    padding-right: 3em;
  }

  .stripx {
    padding-top: 5em;
  }

  
.productx{
  padding-top: .1em;
  padding-bottom: .15em;
  background-color: grey;
  width: 100%;
  font-family: 'Major Mono Display', monospace;
  border-width: 1em;
  border-color: black;
  
}
.productz1{
  background-color: white;
  padding-top: 1em;
  padding-right: 10em;
  padding-left: 10em;

}
.producty{
  grid-template-columns: 3fr 6fr 1fr;
  display: grid;
  padding-top: 1.5em;
  background-color: white;
  height: 95%;
  width: 100%;  
  font-family: 'Major Mono Display', monospace;
  border-width: 1em;
  border-color: black;
  padding-bottom: 1.5em;
}


.productname{
  font-size: 2em;
}
.pricex {
  text-align: center;
  justify-content: space-between;
}

.producttitle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  padding-bottom: 1em;
  padding-top: 1.5em;
  font-size: xx-large;
}

.addressz1{
padding-top: 5em;
padding-bottom: 5em;
}


.addressy{
  padding-left: 15em;
  padding-right: 15em;

}

.addressx{

  padding-bottom: 1em;
  padding-top: 1em;
  border: solid thick turquoise;

}

.addressitem{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-size: large;
  background-color: yellowgreen;
  justify-content: space-evenly;
  padding-top: .5em;
  padding-bottom: .5em;
}

.urorder {
  vertical-align: middle;
  padding-top: 2em;
}