.mainFooter {
    display: grid;
    grid-template-columns: 7fr 4fr;
    height: 13em;
    background-color: black;
}

.mainfooterk {
    padding-top: 10em;
}

.mainFooterx {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    text-align: center;
    
}
.leftBox {
    font-family: 'Major Mono Display', monospace;
    display: block;
    height: 5em;
    justify-content: space-evenly;
}

.foottitle {
    padding-bottom: 1em;
    font-size: x-large;
    padding-top: 1em;
    background-color: black;
}
.itemx{
    padding-bottom: .6em;
    background-color: black;
}


    
    .mainFootery{
        color: white;
        text-align: center;
        height: 99%;
        background-color: black;
        border-bottom: 2px white;
        border-left: thick solid white;
    }
    
    .borderx{
        background-color: white;
    }

    .footween{
        background-color: black;
        font-family: 'Major Mono Display', monospace;
        text-align: center;
        color: white;
        padding-bottom: .3em;
        font-size: xx-large;
        border-top: 5px solid white;
        padding-top: .5em;
    }


