.mainHeader{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    border-bottom: #f1f1f1 solid 3px;
    background-color: black;
    height: 12em;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 15em;
  
  }

  .tweeny{
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
    grid-column-start: 2;
    grid-row-start: 1;
    padding-top: 1.2em;
    cursor: pointer;
  }
  .ulList {
    grid-column-start: 2;
    grid-row-start:3;
    width: 100%;   
    display: inline-block;
    padding-bottom: 5em;
  }


  .ulListx {
    display:grid;
    text-align: center;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2em;
    padding-bottom: 2em;
    border-style: solid;
    border-width : 3px 0 3px 0;
    border-color: white;
    margin-bottom: 1em;
  }
  .mainHeaderList {
    margin: 0em 2em 0em 2em;
  }

  .ulList li:hover {
  color: lime;
  border-color: lime;
  }

  .cart{
    vertical-align: top;
    grid-column-start: 3;
    grid-row-start: 1;
  }
.xsx {
  color: white;
  font-weight: 500;
  font-family: 'Major Mono Display', monospace;
  align-self: center;
  cursor: pointer;
}

.cart {
  font-size: 1.5em;
  font-family: 'Major Mono Display', monospace;
}

.buttonstyle {
  background-color: black;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  color: white;
  font-size: x-large;
}

.iconx {
  color: red;

}

.cartnum {
  color: aliceblue;
  padding-right: 2em;
}