.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  .mainFlex {
    display: flex;
    padding: 0em 3em 1em 3em;
    justify-content: space-around;
    width: fit-content;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .productBox {
    position: relative;
    background-color: white;
    width: 20%;
    padding: 1em;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    font-family: 'Nunito', sans-serif;
    flex: 1 0 21%;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    box-shadow: 1px 1px black;
    font-family: 'Major Mono Display', monospace;
  }

  .productBoxz {
    position: relative;
    background-color: white;
    width: 20%;
    padding: 1em;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    font-family: 'Nunito', sans-serif;
    flex: 1 0 21%;
    margin-right: 5em;
    margin-left: 5em;
    margin-bottom: 2em;
    margin-top: 2em;
    box-shadow: 1px 1px black;
    font-family: 'Major Mono Display', monospace;
  }
  .mainFlex2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0em 3em 4em 3em;
    justify-content: space-around;
  }
  
  .img {
    height: 8em;
    width: 10em;
    text-align: center;
    display: block;
    margin: auto;
    
  }
  .name {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    background-color: black;
    color: white;
    margin-bottom: 1em;
    width: 3em;
    margin-right: auto;
    margin-left: auto;
  }
  .price {
    text-align: right;
    vertical-align: bottom;
    color: limegreen;
    font-family: 'Major Mono Display', monospace;
    padding-top: 2em;
  }

  .onSaleTag {
    height: 80px;
    width: 100px;
    right: -1.1em;
    bottom: 13.95em;
    position: absolute;
  }

  .onSaleTagx {
    height: 80px;
    width: 100px;
    right: 2.25em;
    bottom: 13.95em;
    position: absolute;
  }
  .tweeny {
    padding: 0.5em;
    right: 2em;
  }
  .serviceList {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: flex-start;
    flex-wrap: wrap;
    border-bottom: 3px solid #f1f1f1;
    padding-right: 5em;
    font-size: 18px;
  }
  .serviceList li {
    font-size: 100%;
      line-height: 22px;
      font-size: 1em;
      font-weight: bold;
      font-family: "Lucida Grande", helvetica, arial;
      flex-basis: 25%;
    list-style-type: none;
    margin-bottom: 20px;
  }
  .serviceList li:hover {
    color: lime;
  }
  .bestSellers {
    border-bottom: 3px solid #f1f1f1;
    padding: 0 1em;
  }
  .wrapper {
    padding: 0 10em;
  }
  .winNowList {
    position: relative;
  }
  .winNow {
    position: absolute;
      height: 90px;
      width: 94px;
      right: -1em;
      bottom: 4em;
  }
  .winNow:hover {
    opacity: 50%;
  }
  
  .cart
  {
    align-items: center;
    display: flex;
    color: #282c34;
    text-align: center;
    vertical-align: center;
    /* float: left; */
    justify-content: center;
  }
  .borderClass {
    border: 3px solid #f1f1f1
  }
  .footer {
    border-top: 3px solid #f1f1f1;
    padding: 3em 2em;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 3fr;
    color: #000000;
    font-size: 18px;
    font-family: Georgia, Utopia, 'Times New Roman', Times, serif;
    line-height: 28px;
  }
  .footer ul {
    list-style-type: none;
    float: inline-start;
    padding-inline-start: 10px;
  }
  .footer li {
  
    list-style: none;
      display: block;
  }
  .footerSearch {
    grid-column: 4/5 ;
  }
  
  input[type=text], textarea {
    border: 1px solid #ccc;
    padding: 3px;
    color: #a2a2a2;
  }
  .footer .block input[type=text] {
    width: 217px;}

    .productheader {
      font-family: 'Major Mono Display', monospace;
      font-size: xx-large;
      text-align: center;
      font-weight: bolder;
      background-color: indianred;
      margin-top: 3em;
      margin-bottom: 3em;
      border-radius: 5em;
      margin-left: auto;
      margin-right: auto;
      width: 12em;
      height: 3em;
      vertical-align: middle;
      justify-content: center;
      line-height: 2.9em;
    }
    .pugimg{
      align-self: center;
      display: grid;
      grid-template-columns: 1fr;
      margin-left: auto;
      margin-right: auto;
    }

    .pugimg img {
      margin-left: auto;
      margin-right: auto;
    }

    .homejoke {
      
      font-family: 'Major Mono Display', monospace;
      font-size: xx-large;
      text-align: center;
      font-weight: bolder;
      color: gold;
      background-color: black;
      width: 18em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;
      padding-top: .5em;
      padding-bottom: .5em;
      border-radius: 10em;
      padding-right: 2em;
      padding-left: 2em;
    }

      @keyframes blinker {
        from { opacity: 1.0; }
        to { opacity: 0.0; }
      }
    .hiText2 {
        -webkit-animation-name: blinker;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(1, 1,1,1,1 ,1, .1);
        -webkit-animation-duration: 2s; 
     }
     .selectorx{
       padding-left: 27em;
       padding-right: auto;
       padding-bottom: 8em;

     }

     .selectorx select {
      appearance: none;
      padding-left: 1em;
      padding-right: 1em;
      font-family: 'Major Mono Display', monospace;
      color: purple;
      font-weight: bolder;
      border-radius: 1em;
      background-color: limegreen;
      width: fit-content;
      height: 2em;
      text-align: center;
  }
