@import "~react-image-gallery/styles/css/image-gallery.css";

.mainHeaderx{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom: hsl(0, 0%, 95%) solid 3px;
    background-color: black;
    text-align: center;
  
  }

  .mainBox {
    display:grid;
    grid-template-columns: 5fr 5fr 2fr;
    justify-content: space-around;
  }
  .buttonBox{
      display:grid;
      grid-template-columns: 1fr;
      background-color: black;
      justify-content: space-evenly;
      border-left: solid grey;
      border-bottom: solid grey;
  }

  .titleBox {
    grid-column-start: 2;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    background-color: black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;

  }

.priceX{
  font-size: xx-large;
}
.shippingX{
  font-size: small;
  padding-top: 0.8em;
}

.glow-on-hoverxy {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  width: 80%;
  height: 6em;
  border: none;
  outline: none;
  color: #fff;
  background: black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  left: 12%;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.glow-on-hoverxy:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hoverxy:active {
  color: black
}

.glow-on-hoverxy:active:after {
  background: transparent;
}

.glow-on-hoverxy:hover:before {
  opacity: 1;
}

.glow-on-hoverxy:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.buttonX {
  display: block;
  height: 8em;
  width: 40%;

}



.buttonTextx {
padding-top: 0.5em;
height: fit-content;
}


.singleinput button {
  appearance: none;
  background-color: transparent;
  border-radius: 1em;
  height: 2em;
  width: fit-content;
  background-color: purple;
  color: aqua;
  font-weight: bolder;
  font-family: 'Major Mono Display', monospace;
  font-size: large;
  justify-self: center;
  padding-right: .8em;
  padding-left: .8em;
  margin-bottom: .4em;
}

.singleinput input {
  border-radius: 1em;
  background-color: whitesmoke;
  font-family: 'Major Mono Display', monospace;
  border: none;
  height: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
  color: navy;
  font-weight: bolder;
  width: 5em;
  justify-self: center;
  text-align: center;
  font-size: large;
  margin-bottom: .51em;
}

.singleinput {
  align-content: center;
  align-items: center;
  margin-bottom: 1em;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  
}

.singlebox {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.carouselxz {
  margin-top: 7em;
}
.leftcarou {
  background-color: black;
  border-bottom: solid grey;
  border-right: solid grey;
  border-top: solid grey;
  padding-top: 2em;
  margin-top: 2em;
}

.singletext {
  padding-top: 5em;
  padding-left: 5em;
  font-family: 'Major Mono Display', monospace;
  font-size: medium;
  padding-right: 5em;
}



