.fireworks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5em;
}

.thankmsg {
    display: grid;
    grid-template-columns: 1fr;
    background-color: peachpuff;
    margin-left: 20em;
    margin-right: 20em;
    border-radius: 4em;
    justify-content: center; 
    text-align: center; 
    margin-top: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
}
.congrats {
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: xx-large;
    color: purple;
}
.inquiry {
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    font-size: smaller;
    margin-top: 2em;
}
.shopbags{
    display: grid;
    grid-template-columns: 1fr;
}